/.idea
DSA/Sorting algorithms/__pycache__/
Proyects/Games/DOOM-style-Game/__pycache__/
Proyects/Games/Flappy bird clone/__pycache__/
Proyects/Games/Pinball Battle(rename)/__pycache__/
Proyects/Games/Solitaire Clone/__pycache__/
Pygame/__pycache__/
.codegpt
